h1{
    text-align:center;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    color:blue
}
p {
    font-size: 25px
}
.image{
    height: 39.6em;
    background-size: cover;
    width: auto;
    background-image: url('/assets/academy-accomplishment-celebrate-267885.jpg');
    background-position: 50% 50%;
}
h3{
    text-align: center;
    color:blue
}