<div class="row">
  <div class="col-xs-10">
      <div class="image">
        <form>
          <div class="row">
            <div class="col-sm-5 form-group">
                
              
              <label class="b" for="name"> Search For course</label>
               <input type="text" id="name" class="form-control" > 
             
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
            
              <button class="btn btn-success d " type="button" > Click Enter </button>
              <button class="btn btn-success" routerLink='/instrustorprofile' type="button"> Profile </button> 
            </div>
          </div>
            </form>
    <br/>

      
  
   <ul class="list-group">
   
    <a class="list-group-item c" style="cursor: pointer" *ngFor=" let courses of courses" style="color:blue">
    {{courses.name}}
    <br/>
    <button class="btn btn-success a" routerLink='/coursematerialstudent' type="button"> View Material </button>
    <button class="btn btn-success" routerLink='/addannouncement' type="button" > View Announcement </button>
    
  </a>
    </ul>
      </div>
  </div>
  </div>
