<div class="row">
    <div class="col-xs-12">
       
      <form>
        <div class="row">
          <div class="col-sm-5 form-group">
              
            
            <label for="name"><b>Course Name</b></label>
            
            <input type="text" id="name" class="form-control" #nameInput> 
            <!-- nameinput is a local referenece -->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <!-- click: is a click listener ,listen to on add course method in ts file-->
            <button class="btn btn-success " type="button" (click)="onAddCourse()" > Add Course </button>
            <button class="btn btn-success a" routerLink='/instrustorprofile' type="button"> Profile </button> 
          
          </div>
        
        </div>
      </form> 
        
    </div>
    </div>
    <br/>
    <br/>
