input[type="email"] {
   
    width: 350px;
    }
    input[type="password"] {
   
        width: 350px;
        }
        label{
            color:blue;   
           }

  b{
      font-size: 40px;
      color:black;
  }

  .mssg{
      color: red
  }
 .image{
    height: 48em;
    background-size: cover;
    width: 109.6em;
    background-image: url('/assets/images.jpg');
    background-position: 100%;
}
.a{
    margin-right: 35px
}